* {
    box-sizing: border-box;
    font-family: Inter, system-ui, sans-serif;
}

body {
    margin: 0;
    background: #0f0f12;
    color: white
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    margin-bottom: 1rem;
}

.card {
    background: #18181d;
    padding: 1.5rem;
    border-radius: 12px;
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

input {
    padding: 0.6rem;
    border-radius: 8px;
    border: none;
    outline: none;
}

button {
    padding: 0.6rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: #6e56cf;
    color: white;
    font-weight: bold;
}